<? tpl('header')?> 
<script>
$(function(){
 
})


</script>
<body style="margin:0 auto;width:800px;" >
<div class="tal ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active"><a href="javascript:;">
      <?=$nav_title?>
      </a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom"> 
  	<form method="get" >
			<input type="hidden" name="c" value="<?=$c;?>" />
			<input type="hidden" name="a" value="<?=$a;?>" />
			<table>
				<tr>
                	<td>认证领域：</td>
                    <td >
                    <select name="iso" >
                    	<option value="">==请选择==</option>
                    	<?=f_select('iso')?>
                    </select> 
                    </td> 
                    <td>内容:</td>
                    <td><input type="text" name="name" value="<?=$_GET['name']?>"></td>
                </tr>
			</table>
			<p class="button-panel tal">
				<button type="submit" class="btn btn-submit"> 搜索 </button>
			</p>
		</form> 
		<?=$pages['pages'];?> 
<br>
    <form method="post" action="">
      <table class="form-table tal">
        <tr>
          <th>排序</th>
          <th>认证领域</th>
          <th>内容</th>
          <th>选项-分数</th>
          <th>状态</th>
          <th>删除</th>
        </tr>
        <?php
if( $datas ){
	foreach( $datas as $id => $row ){
		$row['stop_Y'] = $row['is_stop'] ? 'checked' : '';
		$row['stop_N'] = $row['is_stop'] ? '' : 'checked';
?>
	<input type="hidden" name="old[id][<?=$id?>]" value="<?=$row['id']?>">
        <tr align="center">
          <td><input type="text" name="old[vieworder][<?=$id;?>]" value="<?=$row['vieworder'];?>" size="2" class="input" /></td>
          <td> 
          <select>  
          <?=f_select('iso',$row['iso'])?> 
          </select></td>
          <td><input type="text" name="old[name][<?=$id;?>]" value="<?=$row['name'];?>"  class="input" /></td>
           <td><input type="text" name="old[item][<?=$id;?>]" value="<?=$row['item'];?>"  class="input" /></td>
           
          <td><input type="radio" id="stop-{$id}-N" name="old[is_stop][<?=$id;?>]" value="0" <?=$row['stop_N'];?>/>
            <label for="stop-{$id}-N"> 启用</label>
            <input type="radio" id="stop-{$id}-Y" name="old[is_stop][<?=$id;?>]" value="1" <?=$row['stop_Y'];?>/>
            <label for="stop-{$id}-Y"> 停用</label></td>
          <td align="center"><a href="?c=<?=$c;?>&a=<?=$a?>&del=<?=$row['id'];?>" class="c-del"><img src="theme/images/b_drop.png" border=0 /></a></td>
        </tr>
        <?php
	}
}
?>
        <tr align="center">
          <td><input type="text" name="new[vieworder][]" value="" size="2" class="input" /></td>
          <td><select name="new[iso][]">
              <?=f_select('iso')?>
            </select></td>
          <td><input type="text" name="new[name][]" /></td>
          <td><input type="text" name="new[item][]" value=""  class="input" /></td>
          <td><label>
              <input type="radio" name="new[is_stop][]" value="0" />
              启用</label>
            <label>
              <input type="radio" name="new[is_stop][]" value="1" />
              停用</label></td>
          <td></td>
        </tr>
      </table>
      <center>
        <button class="btn btn-submit" type="submit"> 保 存 </button>
      </center>
    </form>
  </div>
</div>
</body>
</html>