<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>行政区划</title>
<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script>
<script type="text/javascript" src="theme/js/ui-dialog.js"></script>
<script>
$(function(){
	$('.c-del').click(function(){ 
		confirm_dialog('确定删除配置信息？', $(this).attr( 'href' ), 'warning' );
		return false;
	});  
})

</script>
</head>

<body>
 
<div style="margin:0 auto;width:750px;" class="tal ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active"><a href="javascript:;">行政区代码设置</a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

		<?=$pages['pages'];?>
<p style="font-size:0;height:9px;overflow:hidden;"></p>


<div class="setting">
<table class="form-table">
<form method="get" action="?c=setting_region&a=list">
<input type="hidden" name="c" value="<?=$c;?>" />
<input type="hidden" name="a" value="<?=$a;?>" />
	<tr>
    	<td>编码:</td>
        <td><input type="text" size="10" name="code" class="input" value="<?=$code?>" /></td>
        <td colspan="2">内容:<input type="text" name="name" class="input" value="<?=$name;?>" /> 状态：启用<input type="radio" name="is_stop" value="0" checked="checked" />
        停用<input type="radio" name="is_stop" value="1" /></td>
        <td><button type="submit" class="btn btn-submit"> 搜 索 </button></td>
    
    </tr>
</form>
<form method="post" action="?c=setting_region&a=save">
	<tr>
		<th width="40">排序</th>
		<th width="40">编码</th>
		<th width="*">内容</th>
		<th width="120">状态</th>
		<th width="40">删除</th>
	</tr>
<?php
if( $resdb ){
	foreach( $resdb as $code => $row ){
		$row['stop_Y'] = $row['is_stop'] ? 'checked' : '';
		$row['stop_N'] = $row['is_stop'] ? '' : 'checked';
?>
	<tr align="center">
		<td><input type="text" name="vieworder[<?=$code;?>]" class="input" value="<?=$row['vieworder'];?>" size="2"  /></td>
		<td><input type="text" name="code[<?=$code;?>]" class="input" value="<?=$row['code'];?>" size="10"  /></td>
		<td align="left"><input type="text" name="name[<?=$code;?>]" class="input" value="<?=$row['name'];?>" size="40"  /></td>
		<td>
			<input type="radio" id="stop-{<?=$code;?>}-N" name="is_stop[<?=$code;?>]" value="0" <?=$row['stop_N'];?>/><label for="stop-{<?=$code;?>}-N"> 启用</label>
			<input type="radio" id="stop-{<?=$code;?>}-Y" name="is_stop[<?=$code;?>]" value="1" <?=$row['stop_Y'];?>/><label for="stop-{<?=$code;?>}-Y"> 停用</label>
		</td>
		<td align="center"><a href="?c=<?=$c;?>&a=del&to=<?=$a;?>&code=<?=$row['code'];?>" class="c-del"><img src="theme/images/b_drop.png" border=0 /></a></td>
	</tr>
<?php
	}
}
?>
	<tr align="center">
		<td><input type="text" name="new[vieworder][]" class="input" value="" size="2" /></td>
		<td><input type="text" name="new[code][]" class="input" value="" size="10" /></td>
		<td align="left"><input type="text" name="new[name][]" class="input" value="" size="40" /></td>
		<td>
			<label><input type="radio" name="new[is_stop][]" value="0" /> 启用</label>
			<label><input type="radio" name="new[is_stop][]" value="1" /> 停用</label>
		</td>
		<td></td>
	</tr>
	<tr>
		<td colspan="5" class="cRed">说明：请谨慎修改以上设置，CNAS设定的请不要修改。</td>
	</tr>
	<tr>
		<td colspan="5"><center><button class="btn btn-submit" type="submit"> 保 存 </button></center></td>
	</tr>
</table>
</form>

	</div>
</div>
</body>
</html>
