<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>认证时需要提供的申请资料</title>
<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script>
<script type="text/javascript" src="theme/js/ui-dialog.js"></script>
<script>
$(function(){
	$('.c-del').click(function(){ 
		confirm_dialog('确定删除配置信息？', $(this).attr( 'href' ), 'warning' );
		return false;
	});  
})

</script>
</head>

<body>



<div style="margin:0 auto;width:750px;" class="tal ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active"><a href="javascript:;"> 申请资料</a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

		<?=$pages['pages'];?>
<p style="font-size:0;height:9px;overflow:hidden;"></p>
<form method="post" action="?c=setting_attach&a=save&type=<?=$_GET['type']?>">

<div class="setting">
<table class="form-table">

	<tr>
		<th width="40">排序</th>
		<th width="160">体系</th>
		<th width="*">文档名称</th>
		<th width="40">删除</th>
	</tr>
<?php
if( $resdb ){
	foreach( $resdb as $id => $row ){
?>
	<tr align="center">
		<td><input type="text" name="vieworder[<?=$id;?>]" class="input" value="<?=$row['vieworder'];?>" size="2"  /></td>
		<td>
			<?=$row['iso_checkbox'];?>
		</td>
		<td align="left"><input type="text" name="filename[<?=$id;?>]" class="input" value="<?=$row['filename'];?>" style="width:100%"  /></td>
		<td align="center"><a href="?c=<?=$c;?>&a=del&type=<?=$_GET['type']?>&to=<?=$a;?>&id=<?=$row['id'];?>" class="c-del"><img src="theme/images/b_drop.png" border=0 /></a></td>
	</tr>
<?php
	}
}
?>
	<tr align="center">
		<td><input type="text" name="new[vieworder][]" class="input" value="" size="2" /></td>
		<td><?php echo str_replace( "name=\"iso[]\"", "name=\"new[iso][]\"", $iso_checkbox);?></td>
		<td align="left"><input type="text" name="new[filename][]" class="input" value="" style="width:100%" /></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="5" class="cRed">说明：请谨慎修改以上设置，CNAS设定的请不要修改。</td>
	</tr>
	<tr>
		<td colspan="5"><center><button class="btn btn-submit" type="submit"> 保 存 </button></center></td>
	</tr>
</table>
</form>

	</div>
</div>
</body>
</html>
