<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日志更改数据</title>
<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script>
<script type="text/javascript" src="theme/js/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui-timepicker-addon.js"></script>

</head>

<body>
<div style='width:720px;margin:0 auto;' class="tal ui-tabs ui-widget ui-widget-content ui-corner-all">
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
	<table width='100%' class='grid-table'>
		<thead>
		<tr>
			<th>键名</th>
			<th>改前数据</th>
			<th>改后数据</th>
		  </tr>
		</thead>
		<tbody>
<?php
if( $bf_str or $af_str ){
	$diff_arr = array();
	if(is_array($bf_str)){
		foreach( $bf_str as $key=>$value ){
			$diff_arr[$key] = $value;
		}
	}
	if(is_array($af_str)){
		foreach( $af_str as $key=>$value ){
			$diff_arr[$key] = $value;
		}
	}
	foreach( $diff_arr as $key=>$value ){
	if($af_str[$key]!=$bf_str[$key]) {
		$color = "#FFE4E1";
	}else{
		$color = "#FFFFFF";
	}
?>
		<tr>
			<td style="background-color:<?=$color;?>" align="left"><?=$key;?></td>
			<td style="background-color:<?=$color;?>" align="left"><?=$af_str[$key];?></td>
			<td style="background-color:<?=$color;?>" align="left"><?=$bf_str[$key];?></td>
		</tr>
<?php
	}
} else {
?>
		
<?php
}
?>
		</tbody>
	</table>
<?=$pages['pages'];?>
</div>
</div>
<br/><br/>

</body>
</html>
