<? tpl('header')?>
<script src="theme/loaders/script/modernizr-2.8.2.js"></script>
<link rel="stylesheet" href="theme/loaders/css/main.css">
<link rel="stylesheet" href="theme/loaders/css/load5.css">
<script type="text/javascript">

$(function() { 

	$( "#audit-down-tab" ).tabs({
		collapsible: false
	});
});

</script>
<style>
li {
	overflow: hidden;
}
.zhuyi{
  margin-bottom: -30px;
}
</style>
</head>

<body style="padding-bottom:20px;">
<br/>
<div id="audit-down-tab" style="margin:0 auto;width:377px;height:350px" class="tal">
  <ul>
    <li></li>
  </ul>
  <div id="tab-audit" style="padding:50px">
	<ul class="doc-list">
		<li><a href="?c=doc&a=HB001-1&ct_id=<?=$_GET['ct_id'];?>&eid=<?=$_GET['eid'];?>&banben=1">[QMS认证申请评审表及组织审核通知单]</a></li>
	    <li>&nbsp;</li>
	    <li>&nbsp;</li>
	    <li><a href="?c=doc&a=HB001-2&ct_id=<?=$_GET['ct_id'];?>&eid=<?=$_GET['eid'];?>&banben=1">[EMS认证申请评审表及组织审核通知单]</a></li>
	    <li>&nbsp;</li>
	    <li>&nbsp;</li>
	    <li><a href="?c=doc&a=HB001-3&ct_id=<?=$_GET['ct_id'];?>&eid=<?=$_GET['eid'];?>&banben=1">[OHSMS认证申请评审表及组织审核通知单]</a></li>
		<li>&nbsp;</li>
	    <li>&nbsp;</li>
		<li><a href="?c=doc&a=HB002-1&ct_id=<?=$_GET['ct_id'];?>&eid=<?=$_GET['eid'];?>&banben=1">[QMS认证申请受理通知单]</a></li>
		<li>&nbsp;</li>
	    <li>&nbsp;</li>
		<li><a href="?c=doc&a=HB002-2&ct_id=<?=$_GET['ct_id'];?>&eid=<?=$_GET['eid'];?>&banben=1">[EMS认证申请受理通知单]</a></li>
		<li>&nbsp;</li>
	    <li>&nbsp;</li>
		<li><a href="?c=doc&a=HB002-3&ct_id=<?=$_GET['ct_id'];?>&eid=<?=$_GET['eid'];?>&banben=1">[OHSMS认证申请受理通知单]</a></li>
		<li>&nbsp;</li>
	    <li>&nbsp;</li>
        <li><a href="?c=doc&a=HB-008&ct_id=<?=$_GET['ct_id'];?>&eid=<?=$_GET['eid'];?>&banben=1">[认证审核合同及评审档案清单]</a></li>

	</ul>
  </div>

</div>


</body>
</html>
