<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>选择培训人员</title>

<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script>
<script type="text/javascript" src="theme/js/jquery.ui.datepicker-zh-CN.js"></script>
<style type="text/css">
body{margin:0;padding:0;}
</style>
<script>
$(function(){


});


</script>
</head>

<body style="padding-bottom:20px;">

<div style="margin:9px 0;width:100%;">
	<table class="grid-table">
		<thead>
		<tr>
			<th width="30">选择</th>
			<th width="80">姓名</th>
			<th width="40">性别</th>
            <th width="40">代码</th>
		</tr>
		</thead>
		<tbody>
<?php if( $hrs ): foreach( $hrs as $row ):?>
		<tr>
			<td><a href="javascript:;" onclick="window.parent.update_hr('<?=$row['id'];?>','<?=$row['name'];?>');"><img src="theme/images/b_edit.png" border="0" /></a></td>
			<td><?=$row['name'];?></td>
			<td><?=$row['sex_V'];?></td>
            <td><?=$row['code'];?></td>
		</tr>
<?php endforeach; endif;?>
		</tbody>
	</table>
</div>

</body>
</html>
