<? tpl('header')?>
<script src="theme/loaders/script/modernizr-2.8.2.js"></script>
<link rel="stylesheet" href="theme/loaders/css/main.css">
<link rel="stylesheet" href="theme/loaders/css/load5.css">
<script type="text/javascript">
$(function() { 
	$( "#enterprise-tab" ).tabs({
		collapsible: false
	});
	$( "#audit-down-tab" ).tabs({
		collapsible: false
	});
	$('#add-btn').click( addRecord );
	addRecord();
	$( ".input-date" ).datepicker( ); 
});

function addRecord(){
	tbody = $('#add-attachs');
	tr = $('#add-attach');
	new_tr = tr.clone();
	new_tr.attr('id','');
	new_tr.show();
	tbody.append(new_tr);
}
function check_form(){ 
	if(!$(".iso").val()){
		alert("请选择体系！！");
		return false;
	}  
}
</script>
<style>
li {
	overflow: hidden;
}
</style>
</head>
<body>
<?php echo einfo("tid=$tid");?> <br/>
<div id="audit-down-tab" style="margin:0 auto;width:750px;" class="tal">
  <ul>
    <li><a href="#tab-audit">审核员需要提交的资料模版</a></li>
  </ul>
  <div id="tab-audit" >
    <form id='docdown_from' accept-charset="utf-8">
      <dl class="doc-down">
        <dd>
          <ul class="doc-list2 clearfix">
            <?=$a_link?>
          </ul>
        </dd>
      </dl>

      <div style='float: left;color:red'>
          <p>审核任务书、通知单、缴费单、企业资质、体系文件请在上方文档信息中下载；<p/>
          <p style="margin-top:5px">其余审表模板请点击右侧相应阶段蓝色按钮打包下载。</p>
      </div>
      
      <div style='float: right;' data-ctid="<?=$ct_id;?>" data-tid="<?=$tid;?>">
        <button class="btn btn-submit btn-downdoc" type="button" data-list='SH-003|SH-006|SH-010|SH-007|SH-011|SH-009|SH-012|SH-016'> 一阶段 </button>
        <button class="btn btn-submit btn-downdoc" type="button" data-list='SH-002|SH-003|SH-004|SH-006|SH-007|SH-008|SH-009|SH-010|SH-011|SH-012|SH-013|SH-014|SH-015|SH-017|SH-018|SH-019|SH-020|SH-021|SH-022|SH-023'> 二阶段 </button>
        <button class="btn btn-submit btn-downdoc" type="button" data-list='SH-001|SH-002|SH-003|SH-004|SH-006|SH-007|SH-008|SH-009|SH-010|SH-011|SH-012|SH-013|SH-014|SH-015|SH-017|SH-018|SH-019|SH-020|SH-021|SH-024'> 监督 </button>
        <button class="btn btn-submit btn-submit_downdoc" type="button"> 自定义批量下载 </button>
      </div>
    </form>
  </div>
  <div id="tab-task">
    <dd>
      <ul class="doc-list2 clearfix">
        <?php
        if( $task_docs ): foreach( $task_docs as $doc ):?>
        <li><a href="?c=attachment&a=down&aid=<?=$doc['id'];?>">
          <?=$doc['name'];?>
          </a></li>
        <?php endforeach; endif;?>
      </ul>
    </dd>
  </div>
</div>
<br/>
<div id="enterprise-tab" style="margin:0 auto;width:750px;margin-bottom:100px" class="tal">
  <?php if($auditor_role) {?>
  <ul>
    <li><a href="#tab-basic">文档上传</a></li>
    <li><a href="#tab-contract">档案完成确认及审核员信息沟通</a></li>
    <li><a href="#tab-assess">评定问题</a></li>
    <!-- <li><a href="#tab-result">评分</a></li>-->
  </ul>
  <div id="tab-basic">
    <table class="grid-table" width='700'>
      <tr>
        <th width='40'>序号</th>
        <th>文档名</th>
        <th width='140'>上传时间</th>
        <th width='60'>上传人</th>
        <th width='140'>文档类型</th>
        <th width='40'>下载</th>
        <th width='40'>删除</th>
      </tr>
      <tbody id="attach-list">
        <?php
if( $enterprises_archives ){
	foreach( $enterprises_archives as $row ){
?>
        <tr>
          <td align="center"><?=$row['id'];?></td>
           
          <td align="center"><?=$row['name'];?></td> 
          <td align="center"><?=$row['create_date'];?></td>
          <td align="center"><?=$row['uid'];?></td>
          <td align="center"><?=read_cache("arctype",$row['ftype']);?></td> 
         
          
          <td align="center"><a href="?c=attachment&a=down&aid=<?=$row['id'];?>" title="下载"><img src="theme/images/down.gif" width="16" height="16" border=0 /></a></td>
          <td align="center"> 
          <?php if(in_array(current_user("uid"),array(1,$row[create_uid]))){?>
            <a href="?c=auditor&a=delfile&tid=<?=$tid?>&id=<?=$row['id'];?>&ct_id=<?=$ct_id;?>"><img src="theme/images/b_drop.png" border=0 /></a><?php }?></td>
        </tr>
        <?php
	}

}
?>
      </tbody>
    </table>
    <!--<form method="post" action="?c=auditor&a=upfile" enctype="multipart/form-data">
      <input type="hidden" id="tid" name="tid" value="<?=$tid;?>" />
      <input type="hidden" id="eid" name="eid" value="<?=$eid;?>" />
      <input type="hidden" id="ct_id" name="ct_id" value="<?=$ct_id;?>" />
      <table width="500" class="form-table">
        <?=$form_file;?>
      </table>
      <br>
      <p>
        <center>
          <button class="btn btn-submit" type="submit"> 上传 </button>
          </form>
        </center>
      </p>
      <p>其他文件从下边入口上传</p>-->
       <form method="post" action="?c=auditor&a=upfile" enctype="multipart/form-data">
      <input type="hidden" id="tid" name="tid" value="<?=$tid;?>" />
      <input type="hidden" id="eid" name="eid" value="<?=$eid;?>" />
      <input type="hidden" id="ct_id" name="ct_id" value="<?=$ct_id;?>" />
      <table width="500" class="form-table">
        <tbody id="add-attachs">
          <tr id="add-attach" style="display:none;">
            <td width="200" >文档类型：
              <select name="ftype[]">
                <option value=""></option>
                <?=$allow_ftype_select;?>
              </select></td>
            <td><input type="file" name="archive[]" /></td>
            <td>备注：
              <input type="text" class="input" name="description[]" size="30" /></td>
          </tr>
        </tbody>
      </table>
      <br>
      <p>
        <center>
          <button class="btn btn-button" type="button" id="add-btn"> 添加 </button>
          &nbsp;
          <button class="btn btn-submit" type="submit"> 上传 </button>
        </center>
      </p>
    </form>
  </div>
  <div id="tab-assess">
    <form name="winput" method="post" action="?c=auditor&a=task_finish&">
      <input type="hidden" name='tid' value='<?=$tid?>'/>
      <table class="grid-table">
        <tr >
          <th width="50" >等级：</th>
          <th >内容</th>
          <th width="400">问题回复</th>
          <th width="30">状态</th>
        </tr>
        <?php if( $assess_notes ){foreach( $assess_notes as $k => $val ):?>
        <tr >
          <td  align="center"><?=$val[level]?></td>
          <td ><?=$val[note];?></td>
          <td><textarea name="re_note[<?=$val[id]?>]" style="width:95%"><?=$val[re_note];?>
</textarea></td>
          <td><?=$val[status]?"通过":"否"?></td>
        </tr>
        <?php endforeach;?>
        <tr>
          <td align='right'></td>
          <td colspan="3"><label>
              <input type="radio" name="rect_finish" value="1"<?=$task_info['rect_finish']=='1'?'checked':'';?>/>
              已整改</label>
            &nbsp; &nbsp;
            <label>
              <input type="radio" name="rect_finish" value="2" <?=$task_info['rect_finish']=='2'?'checked':'';?> />
              未整改</label>
            &nbsp; &nbsp;
            <label>
              <input type="radio" name="rect_finish" value="0"  />
              无</label></td>
        </tr> 
        <tr>
          <td colspan='4' align='center'><button class="btn btn-submit" type="submit"> 提 交 </button></td>
        </tr>
        <?php  }else{ ?>
        <tr>
          <td colspan='4' align='center'>没有记录</td>
        </tr>
        <?php }?>
         
      </table>
    </form>
  </div>
  <div id="tab-contract" style="display:none;">
    <form name="winput" method="post" action="?c=auditor&a=task_save&">
      <input type="hidden" name='tid' value='<?=$tid?>'/>
      <table width="100%">
        <tr>
          <td width="180" align='right'  height="20">是否有不符合：</td>
          <td width=""><label><input type="radio" value="0" name="bufuhe" <?=$task_info[bufuhe]?"":"checked";?> />否&nbsp;&nbsp;&nbsp;</label><label><input type="radio" value="1" name="bufuhe" <?=$task_info[bufuhe]?"checked":"";?> />是&nbsp;&nbsp;&nbsp;</label></td>
        </tr>
         <tr>
          <td width="180" align='right'  height="40">资料是否上传完成：</td>
          <td width=""><!--<label><input type="checkbox" value="1" name="upload_plan_date" <?=$plan_check;?> />计划上传完成&nbsp;&nbsp;&nbsp;</label>--><label><input type="checkbox" value="1" name="upload_file_date" <?=$file_check;?>  />所有资料上传完成&nbsp;&nbsp;&nbsp;</label></td>
        </tr>
        <!-- <tr>
          <td width="180" align='right' valign="top">下次审核部门建议：</td>
          <td width=""><textarea name="step2" style="width: 540px; height: 72px;"><?=$step2?>
</textarea></td>
        </tr>
        <tr>
          <td width="180" align='right' valign="top">下次审核关注点：</td>
          <td width=""><textarea name="step3" style="width: 540px; height: 72px;"><?=$step3?>
</textarea></td> 
        </tr>-->
		<tr>
			<td width="180" align='right' valign="top">计划审批信息：</td>
			<td width="">
				<textarea name="jh_sp_note" style="width: 540px; height: 72px;" readonly><?=$jh_sp_note;?></textarea>
			</td>
		</tr>
		<tr>
			<td width="180" align='right' valign="top">信息回复：</td>
			<td width="">
				<textarea name="jh_re_note" style="width: 540px; height: 72px;"><?=$jh_re_note;?></textarea>
			</td>
		</tr>
        <tr>
          <td colspan='2' align='center'><button class="btn btn-submit" type="submit"> 提 交 </button></td>
        </tr>
      </table>
    </form>
  </div> 
 <!-- 评分-->
   <div id="tab-result" style="display:none;">
  	<? tpl('task/task_result')?>  
    </div> 
  <?php } ?>
</div>


  <div id='load' class="load-container load5 none" style="margin-left:40%;margin-top:10%">
      <div class="loader"></div>
      <a href="javascript:0"> 正在为您打包请稍后 </a>
  </div>
  


</body>
<script type="text/javascript">
  $(function(){
      $('.btn-submit_downdoc').click(function(event) {
        var filename = $(this).html();
        $.ajax({
          type: "POST",
          async:true,
          url: "./app/admin/control/ajax/configAjax.php?event=docdown",
          data: {
              data_params:$('#docdown_from').serializeArray()
          },
          dataType: "json",
          beforeSend:function(){
          //这里是开始执行方法，显示效果，效果自己写
            $("#einfo-tab").addClass('none');
            $("#audit-down-tab").addClass('none');
            $("#enterprise-tab").addClass('none');
            $("#load").removeClass('none')
            $("body").addClass('body');
          },
          complete:function(){
          //方法执行完毕，效果自己可以关闭，或者隐藏效果
            $("#einfo-tab").removeClass('none');
            $("#audit-down-tab").removeClass('none');
            $("#enterprise-tab").removeClass('none');
            $("#load").addClass('none')
            $("body").removeClass('body');
          },
          success: function(e){
                    var errorCode = e.errorCode;
                    var data      = e.data;
                    if( errorCode == 0 ){
                        window.open('./?c=doc&downsDoc=1&url='+ data +'&filename='+ filename,'_blank');
                    }else{
                      alert('请刷新后重试');
                    }
                  }
          
        });
    })

    $('.btn-downdoc').click(function(event) {
        var filename = $(this).html();
        $.ajax({
          type: "POST",
          async:true,
          url: "./app/admin/control/ajax/configAjax.php?event=docdownlist",
          data: {
              data_params:{
                a:$(this).data('list'),
                ct_id:$(this).parent().data('ctid'),
                tid:$(this).parent().data('tid')
              }
          },
          dataType: "json",
          beforeSend:function(){
          //这里是开始执行方法，显示效果，效果自己写
            $("#einfo-tab").addClass('none');
            $("#audit-down-tab").addClass('none');
            $("#enterprise-tab").addClass('none');
            $("#load").removeClass('none')
            $("body").addClass('body');
          },
          complete:function(){
          //方法执行完毕，效果自己可以关闭，或者隐藏效果
            $("#einfo-tab").removeClass('none');
            $("#audit-down-tab").removeClass('none');
            $("#enterprise-tab").removeClass('none');
            $("#load").addClass('none')
            $("body").removeClass('body');
          },
          success: function(e){
                    var errorCode = e.errorCode;
                    var data      = e.data;
                    if( errorCode == 0 ){
                        window.open('./?c=doc&downsDoc=1&url='+ data +'&filename='+ filename ,'_blank');
                    }else{
                      alert('请刷新后重试');
                    }
                  }
        });
    })
  });
</script>
</html>
