<? tpl('header')?>
<body>
<form method="post" id="from" action="?c=partner&a=apply_edit1">
	<input id="id" type="hidden" name="id" value="<?=$pt_id;?>" />
	<input type="hidden" name="sub" value="1">
	<div id="enterprise-tab" style="margin:0 auto;width:750px;" class="tal ui-widget-content">
		<ul class="ui-widget-header" style="height: 30px;margin-bottom: 10px;padding-left: 10px;line-height: 30px;">
		    <li>修改申请</li>
		 </ul>
		<div id="tab-basic">
			<ul class="main-form">
				<li>
					<label class="field">企业名称</label>
					<em>*</em>
					<span>
						<input type="text" id="name" name="name" value="<?=$name;?>" dataType="Require" msg="请输入合作方名称！"   class="input"/>
					</span> 
			   
					<label class="field">地点</label>
					<em>*</em>
					<span>
						<input type="text" id="didian" name="didian" value="<?=$didian;?>" dataType="Require" msg="请输入合作方地点！"   class="input"/>
					</span>
				</li>
				<li>
					<label class="field">体系</label>
					<em></em>
					<span style="width:171px">
						<?php 
							foreach ($arr_iso as $v) {
						?>
							<label>
							   	<input name="tixi_check[]" type="checkbox" value="<?=$v;?>" <?=in_array($v,$tixi_check)?'checked':'';?>/><?=$v;?>
							</label>
						<?php
							}
						?>
					</span>
					<label class="field">人数</label>
					<em></em>
					<span>
						<input type="text" id="renshu" name="renshu" value="<?=$renshu;?>" class="input" />
					</span>  
			    </li>
				<li>
					<label class="field">拿证时间</label>
					<em></em>
					<span>
					     <input type="text" id="nzsj" name="nzsj" value="<?=$nzsj;?>" class="input-date" />
					</span>
					<label class="field">项目来源</label>
					<em></em>
					<span>
						<select name="xmly" style="width: 165px;height: 25px;" dataType="Require" msg="请选择项目来源！">
						<?=$ctfrom_select;?>
						</select>
					</span> 
			    </li>
				<li>
					<label class="field">范围</label>
					<em></em>
					<span>
						<textarea cols="44" rows="3" id="fanwei" name="fanwei" style="width:490px;"><?=$fanwei;?></textarea>
					</span> 
				<li>	
					<label class="field">安排方</label>
					<em></em>
					<span>
						<select name="anpaifang" style="width: 165px;height: 25px;" dataType="Require" msg="请选择体系！">
							<option value="1" <?php if($anpaifang == '1')  echo "selected";?>>企业</option>
							<option value="2" <?php if($anpaifang == '2')  echo "selected";?>>合作方</option>
						</select>
					</span> 
					<label class="field">专业</label>
					<em></em>
					<span>
						<input type="text" id="zhuanye" name="zhuanye" value="<?=$zhuanye;?>" class="input" />
					</span>
				</li>
				<li>
					<label class="field">一阶段审核时间</label>
					<em></em>
					<span>
					    <input type="text" id="yjdshsj" name="yjdshsj" value="<?=$yjdshsj;?>" class="input-date" />
					</span>
				</li>
				<li>
					<label class="field">二阶段审核时间</label>
					<em></em>
					<span>
						<input type="text" id="ejdshsj" name="ejdshsj" value="<?=$ejdshsj;?>" class="input-date" />
					</span>
			    </li>
					
			    <li>
			    	<label class="field">现场总人日</label>
					<em></em>
					<span>
						<input type="text" id="xczrr" name="xczrr" value="<?=$xczrr;?>" class="input" />
					</span>
				</li>
				<li>
					<label class="field">增减人日说明</label>
					<em></em>
					<span>
						<textarea cols="44" rows="3" id="zjrr" name="zjrr" style="width:490px;"><?=$zjrr;?></textarea>
					</span> 
			    </li>
			    <li>
			    	<label class="field">组长</label>
					<em></em>
					<span>
						<input type="text" id="leader" name="leader" value="<?=$leader;?>" class="input" />
					</span>
					<label class="field">组员</label>
					<em></em>
					<span>
						<input type="text" id="zuyuan" name="zuyuan" value="<?=$zuyuan;?>" class="input" />
					</span>
			    </li>

				<li>
					<label class="field">技术专家</label>
					<em></em>
					<span>
						<input type="text" id="jszj" name="jszj" value="<?=$jszj;?>" class="input" />
					</span> 
				</li>
				<li>
					<label class="field">人员需求</label>
					<em></em>
					<span>
					<textarea cols="44" rows="3" id="ryxq" name="ryxq" style="width:490px;"><?=$ryxq;?></textarea>
					</span> 
				</li>
				<li>
					<label class="field">备注信息</label>
					<em></em>
					<span>
						<textarea cols="74" id="zlbz" rows="3" name="zlbz" style="width:490px;"><?=$zlbz;?></textarea>
					</span> 
				</li>
				<li>
				<label class="field">最后修改人</label>
					<em></em>
					<span>
						<input type="text" id="modifyUser" name="modifyUser" value="<?=$modifyUser;?>" class="input" />
					</span> 
				<label class="field">最后修改时间</label>
					<em></em>
					<span>
						<input type="text" id="modifyTime" name="modifyTime" value="<?=$modifyTime;?>" class="input-date" />
					</span>
				</li>
			</ul>
			<p>
				<center style="margin-bottom: 10px;">
					<button class="btn btn-submit submit-btn" type="button" > 保 存 </button>&nbsp;&nbsp;&nbsp;
					<a href="?c=partner&a=partner_list" title="关闭窗口">返回列表</a>
				</center>
			</p>
		</div>
	</div>
</form>

</body>
<script type="text/javascript">
$(function(){
	$('button.submit-btn').on('click',function(){
    	if( !Validator.Validate( document.forms[0], 2 ) ) return;
    $('#from').submit();
  });
	$( "input.input-date" ).datepicker({
		changeMonth	: true,
		changeYear	: true,
		dateFormat	: "yy-mm-dd"
	});
});
</script>
</html>
