<? tpl('header')?>
<script type="text/javascript" src="theme/js/common.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$( ".certificate-tab" ).tabs({
		collapsible: false
	});
});
</script>
<body>
    <div style="margin: 0 auto; width: 750px;" class="tal certificate-tab">
		<ul>
			<li><a href="#tab-lession">课程信息</a></li>
		</ul>
		<div id="tab-lession" style="100%">
			<table style="100%" class='grid-table'>
				<tbody>
					<tr>
						<td class="tdright">培训名称</td>
						<td class="tdleft"><?=$l_name?></td> 

						<td align="tdright">教师</td>
						<td align="tdleft"><?=$l_teacher?></td>
					</tr>
					
					<tr>
						<td class="tdright">培训地址</td>
						<td class="tdleft" colspan="4"><?=$l_addresss?></td> 
					</tr>

					<tr>
						<td class="tdright">开始时间</td>
						<td class="tdleft"><?=$l_st_time?></td> 

						<td align="tdright">结束时间</td>
						<td align="tdleft"><?=$l_en_time?></td>
					</tr>

					<tr>
						<td class="tdright">带队老师</td>
						<td class="tdleft"><?=$l_daiban_teacher?></td> 

						<td align="tdright">带队老师联系方式</td>
						<td align="tdleft"><?=$l_daiban_teacher_tel?></td>
					</tr>

					<tr>
						<td class="tdright">报名手机号</td>
						<td class="tdleft"><?=$l_baoming_tel?></td> 

						<td align="tdright">报名QQ</td>
						<td align="tdleft"><?=$l_baoming_qq?></td>
					</tr>

					<tr>
						<td class="tdright">报名邮箱</td>
						<td class="tdleft"><?=$l_baoming_email?></td> 

						<td align="tdright">费用</td>
						<td align="tdleft"><?=$l_subject_money?></td>
					</tr>

					<tr>
						<td class="tdright">备注信息</td>
						<td class="tdleft" colspan="4"><?=$l_note?></td> 
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br/>
	<div style="margin: 0 auto; width: 750px;" class="tal certificate-tab">
		<ul>
			<li><a href="#tab-basic">文件管理</a></li>
		</ul>
		<div id="tab-basic" style="100%">
			<table style="100%" class='grid-table'>
				<tr>
					<th>文件名称</th>
					<th>上传人</th>
					<th>上传时间</th>
					<th style="width:60px;">类型</th>
					<th style="width:60px;">操作</th>
				</tr>
				<?php if(!empty($file_results)):foreach($file_results as $file):?>
				<tr align="center" data-fileid="<?=$file['id'];?>" data-id="<?=$_GET['id'];?>">
					<td><?=$file['name']?></td>
					<td><?=$file['createUserName']?></td>
					<td><?=$file['createTime']?></td>
					<td>
						<?php
							switch ($file['type']) {
								case '101'://培训-课程-教材 
									$type = '教材';
									break;

								case '102'://培训-课程-试卷 
									$type = '试卷';
									break;

								case '103'://培训-课程-培训计划  
									$type = '培训计划';
									break;

								case '104'://培训-课程-培训通知  
									$type = '培训通知';
									break;

								case '105'://培训-课程-课程表  
									$type = '课程表';
									break;

								case '106'://培训-课程-台账  
									$type = '台账';
									break;

								case '107'://培训-课程-其他
									$type = '其他';
									break;

								default:
									$type = '其他';
									break;
							}
							echo $type;
						?>
					</td>
					<td>
						<a href="?c=training&a=down&url=<?=$file['url']?>"><img src="theme/images/down.gif"  border=0 /></a>
						<a href="javascript:0" class="del"><img src="theme/images/b_drop.png" border=0 /></a>
					</td>
				</tr>
				<?php endforeach;?>
				<?php else:?>
	            <tr>
	              	<td align="center" colspan="5">未找到相关记录</td>
	            </tr>
				<?php endif;?>
			</table>
		</div>
	</div>
	<br/>
	<div style="margin: 0 auto; width: 750px;" class="tal certificate-tab">
		<ul>
			<li><a href="#tab-upload">文件上传</a></li>
		</ul>
		<div id="tab-upload" style="100%">
			<form  id="from" action="?c=training&a=lessonInfo&id=<?=$id?>" method="post" enctype="multipart/form-data">
				<table style="100%" class='grid-table'>
					<tr>
						<td class="tdright" style="width:130px;">文件类型：</td>
						<td style="width:130px;">
							<select name="type" style="width:100%;">
								<option value="101">教材</option>
								<option value="102">试卷</option>
								<option value="103">培训计划</option>
								<option value="104">培训通知</option>
								<option value="105">课程表</option>
								<option value="106">台账</option>
								<option value="107">其他</option>
							</select>
						</td>
						<td><input type="file" name="file" ></td>
						<td align="center">
							<button class="btn btn-submit btn-submit-from" type="submit"> 上  传 </button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
<script ype="text/javascript" charset="utf-8">
	$(function(){
		$('.del').on('click', function(event) {
			var fileid      = $(this).parent().parent().data('fileid');
			var id      = $(this).parent().parent().data('id');
			var data    = {'id':id,'fileid':fileid};
			var results = ajax(data,'lessonInfoFiledel');
			if(results.errorCode==0){
				alert('成功');
				window.location.href="?c=training&a=lessonInfo&id="+id; 
			}else{
				alert('失败');
			}
		});
	})
</script>
</html>