<? tpl('header')?>
<script type="text/javascript" src="theme/js/common.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$( ".certificate-tab" ).tabs({
		collapsible: false
	});
});
</script>
<body>
    <div style="margin: 0 auto; width: 750px;" class="tal certificate-tab">
		<ul>
			<li><a href="#tab-student">学员信息</a></li>
		</ul>
		<div id="tab-student" style="100%">
			<table style="100%" class='grid-table'>
				<tbody>
					<tr>
						<td class="tdright">学院姓名</td>
						<td class="tdleft"><?=$s_name?></td> 

						<td align="tdright">性别</td>
						<td align="tdleft">
						<?php
							switch ($s_sex) {
								case '1':
									$sex = '男';
									break;
								case '2':
									$sex = '女';
									break;
								
								default:
									$sex = '其他';
									break;
							}
							echo $sex;
						?>
						</td>
					</tr>
					
					<tr>
						<td class="tdright">身份证号</td>
						<td class="tdleft"><?=$s_card?></td> 
						<td align="tdright">年龄</td>
						<td align="tdleft"><?=$s_age?></td>
					</tr>

					<tr>
						<td class="tdright">联系方式</td>
						<td class="tdleft"><?=$s_tel?></td> 

						<td align="tdright">联系地址</td>
						<td align="tdleft"><?=$s_address?></td>
					</tr>

					<tr>
						<td class="tdright">邮箱</td>
						<td class="tdleft"><?=$s_email?></td> 

						<td align="tdright">qq</td>
						<td align="tdleft"><?=$qq?></td>
					</tr>

					<tr>
						<td class="tdright">毕业学校</td>
						<td class="tdleft"><?=$s_school?></td> 

						<td align="tdright">专业</td>
						<td align="tdleft"><?=$s_zhuanye?></td>
					</tr>

					<tr>
						<td class="tdright">学历</td>
						<td class="tdleft">
						<?php
							switch ($s_xueli) {
								case '1':
									$xueli = '专科以下';
									break;
								case '2':
									$xueli = '专科';
									break;
								case '3':
									$xueli = '本科';
									break;
								case '4':
									$xueli = '研究生';
									break;
								case '5':
									$xueli = '博士生';
									break;
								default:
									$xueli = '其他';
									break;
							}
							echo $xueli;
						?>
						</td> 

						<td align="tdright">学位</td>
						<td align="tdleft">
						<?php
							switch ($s_xuewei) {
								case '1':
									$xuewei = '无';
									break;
								case '2':
									$xuewei = '学士';
									break;
								case '3':
									$xuewei = '硕士';
									break;
								case '4':
									$xuewei = '博士';
									break;
								default:
									$xuewei = '其他';
									break;
							}
							echo $xuewei;
						?>
						</td>
					</tr>

					<tr>
						<td class="tdright">备注信息</td>
						<td class="tdleft" colspan="4"><?=$s_note?></td> 
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br/>
	<div style="margin: 0 auto; width: 750px;" class="tal certificate-tab">
		<ul>
			<li><a href="#tab-basic">文件管理</a></li>
		</ul>
		<div id="tab-basic" style="100%">
			<table style="100%" class='grid-table'>
				<tr>
					<th>文件名称</th>
					<th>上传人</th>
					<th>上传时间</th>
					<th style="width:60px;">类型</th>
					<th style="width:60px;">操作</th>
				</tr>
				<?php if(!empty($file_results)):foreach($file_results as $file):?>
				<tr align="center" data-fileid="<?=$file['id'];?>" data-id="<?=$_GET['id'];?>">
					<td><?=$file['name']?></td>
					<td><?=$file['createUserName']?></td>
					<td><?=$file['createTime']?></td>
					<td>
						<?php
							switch ($file['type']) {
								case '201'://培训-学员-学员资质 
									$type = '学员资质';
									break;

								case '202'://培训-学员-学员证件 
									$type = '学员证件';
									break;

								case '203'://培训-学员-其他资料 
									$type = '其他资料';
									break;

								default:
									$type = '其他';
									break;
							}
							echo $type;
						?>
					</td>
					<td>
						<a href="?c=training&a=down&url=<?=$file['url']?>"><img src="theme/images/down.gif"  border=0 /></a>
						<a href="javascript:0" class="del"><img src="theme/images/b_drop.png" border=0 /></a>
					</td>
				</tr>
				<?php endforeach;?>
				<?php else:?>
	            <tr>
	              	<td align="center" colspan="5">未找到相关记录</td>
	            </tr>
				<?php endif;?>
			</table>
		</div>
	</div>
	<br/>
	<div style="margin: 0 auto; width: 750px;" class="tal certificate-tab">
		<ul>
			<li><a href="#tab-upload">文件上传</a></li>
		</ul>
		<div id="tab-upload" style="100%">
			<form  id="from" action="?c=training&a=studentInfo&id=<?=$id?>" method="post" enctype="multipart/form-data">
				<table style="100%" class='grid-table'>
					<tr>
						<td class="tdright" style="width:130px;">文件类型：</td>
						<td style="width:130px;">
							<select name="type" style="width:100%;">
								<option value="201">学员资质</option>
								<option value="202">学员证件</option>
								<option value="203">其他资料</option>
							</select>
						</td>
						<td><input type="file" name="file" ></td>
						<td align="center">
							<button class="btn btn-submit btn-submit-from" type="submit"> 上  传 </button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
<script ype="text/javascript" charset="utf-8">
	$(function(){
		$('.del').on('click', function(event) {
			var fileid      = $(this).parent().parent().data('fileid');
			var id      = $(this).parent().parent().data('id');
			var data    = {'id':id,'fileid':fileid};
			var results = ajax(data,'studentInfoFiledel');
			if(results.errorCode==0){
				alert('成功');
				window.location.href="?c=training&a=studentInfo&id="+id; 
			}else{
				alert('失败');
			}
		});
	})
</script>
</html>